:root{
    --primary: #692777;
    --secondary: #E6227B;
    --light-primary: #6927771a;
    --text-color: #666666;
}


.container{
    width: 86%;
    margin: auto;
}

p{
    color: var(--text-color);
}
